<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/picturesstyles.css">
    <title>Brainwreck</title>
</head>
<body>
<nav class="nav">
    <div>
        <a href="/" id="logo">Brainwreck</a>
    </div>
    <div class="nav-right">
        <ul>
            <li>
                <a href="contactUs">Contact Us</a>
            </li>
            <li>
                <a href="pictures">Pictures</a>
            </li>
            <li>
                <a href="funFacts">Band Member Fun Facts</a>
            </li>
            <li>
                <a href="aboutUs">About Us</a>
            </li>
            <li>
                <a href="shows">Previous Shows</a>
            </li>
            <li>
                <a href="tour">Current Tour</a>
            </li>
            <li>
                <a href="mailList">Mailing List</a>
            </li>
            <li>
                <a href="fans">Fans</a>
            </li>
        </ul>
    </div>
</nav>
    <div id="fullpage">
        <div>
            <div id="main">
                <h1>Pictures</h1>
                <div id="picturesContainer">
                    <h2>Click on the picture to download it</h2>
                    <button class="buttons" id="prev">Previous</button>
                    <div id="picture">
                        <a href="static/picture (1).jpg" download>
                            <img src="static/picture (1).jpg">
                        </a>
                    </div>
                    <button class="buttons" id="next">Next</button>
                </div>
            </div>
        </div>
        <footer class="footer mt-auto py-3">
        <div class = "container">
            <span class="text-muted">
                <a href="https://www.facebook.com" target="_blank"><img src="/static/facebook.png" alt="facebook"
                                                                        class="footerLogos"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="/static/instagram.png" alt="instagram" class="footerLogos"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="/static/twitter.png" alt="twitter" class="footerLogos"></a>
            Icons made by <a href="https://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a> / Images by <a href="https://www.unsplash.com" target="_blank">Unsplash</a>

            </span>
        </div>
    </footer>
    </div>
    
    <script src="static/script.js"></script>
</body>
</html>